
.logo {
  background-image: url('../img/logo.png');
  background-size:80px 88px;
  background-repeat:no-repeat;
  width: 80px;
  height: 88px;
}

.credits {
  padding-left: 8px;
  font-size: smaller;
  color: gray;
}

.credits > a {
  color: #08C;
}

footer {
  padding-top: 100px;
  color: gray;
  font-size: small;
}

img.contrib {
  border: 2px #101010 solid;
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../img/feed-icon-14x14.png") no-repeat 0 50%;
}